Flask==3.1.1
flask-cors==6.0.1
requests==2.32.3
gunicorn==21.2.0
pymongo==4.11.2
python-dotenv==1.0.1
nltk==3.9.1
beautifulsoup4==4.12.3
regex==2024.9.11
spotipy==2.25.1

transformers
torch       # CPU está bien; si usas GPU, se activará sola
sentencepiece
langdetect  # si no la tienes ya (para mostrar el idioma detectado)


# SpaCy (versión compatible con Python 3.13)
spacy==3.8.7 --only-binary :all:

# Modelo en español para spaCy 3.8.x
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl
