# ===== Web / API =====
Flask
flask-cors
gunicorn

# ===== Utilidades =====
python-dotenv
pymongo

# ===== HTTP / Scraping =====
requests
beautifulsoup4
lxml
regex

# ===== NLP auxiliar =====
langdetect
nltk
spotipy
pronouncing>=0.2.0


# ===== spaCy núcleo (fijado para que case con los modelos) =====
spacy==3.8.7

# ===== Transformers (sentimiento PRO / zero-shot) =====
transformers>=4.41,<4.49
sentencepiece>=0.1.99,<0.2
huggingface_hub>=0.23,<0.26
torch    # si diera problemas, instala primero la rueda CPU (ver nota abajo)

# ===== Evitar conflicto SciPy/NumPy que suele aparecer =====
numpy>=1.26,<2.3.0
scipy>=1.14.1,<1.15

# ======== Modelos de spaCy (SM) v3.8.0 - deben casar con 3.8.x ========

# Inglés
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
# Español
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl
# Francés
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0-py3-none-any.whl
# Portugués
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl
# Italiano
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.8.0/it_core_news_sm-3.8.0-py3-none-any.whl
# Alemán
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.0/de_core_news_sm-3.8.0-py3-none-any.whl
